html,
body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}

.cell {
  border-radius: 3px;
  background: #eee4da;
  text-align: center;
  font-weight: bold;
  float: left;
  z-index: 10;
  font-size: 55px;
  width: 107px;
  height: 107px;
  line-height: 107px;
}

.board {
  display: block;
}

.board {
  margin-top: 40px;
  position: relative;
  padding: 15px;
  cursor: default;
  background: #bbada0;
  border-radius: 6px;
}

.row {
  display: flex;
  align-items: center;
}
